*{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.content{
    padding:1rem;
}

.content h1{
    margin:0;
}

ol.classes{
    list-style: none;
    padding:0;
    margin:0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ol.classes li{
    margin:0.5rem;
    padding:0.5rem;
    background-color: #14a06f;
    color: #FFFFFF;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

ol.classes li img.invoca{
    max-width: 50%;
    max-height: 50%;
}

ol.classes li img{
    max-width: 100%;
    height: 6rem;
    width: 4rem;
    align-self: flex-end;
;
}